{% extends 'base.html' %}
{% block body_block %}
       {% load static%}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
        <script src="{% static "JS/converstion_ideas.js" %}"></script>

        <div class="container">
                <div class="row">
                        <div class="col" id='ideas'>
                                {% comment %} posts {% endcomment %}
                        </div>
                        <div class="col" id='comments'>
                                {% comment %} comments {% endcomment %}
                        </div>
                </div>
                
        </div>



        <div>
            
        </div>
{% endblock %}