
{% extends 'base.html' %}
{% block body_block %}

    
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>ברוכים הבאים</h3>

                    <div class="card-body">
                        <form class="moveRight" method="POST" action="">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% comment %} <div class="input-group form-group">
                                <input type="text" class="moveRight form-control" placeholder="שם משתמש">
                                <div class="input-group-prepend">
                                    <span class="input-group-text moveRight"><i class="fas fa-user"></i></span>
                                </div>


                            </div>
                            <div class="input-group form-group">
                                <input type="password" class="moveRight form-control" placeholder="סיסמא">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="התחבר" class=" btn float-right login_btn">
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center links">
                                    <a href="registration"> הרשם עכשיו </a> ?אין לך חשבון
                                </div>
                            </div> {% endcomment %}
                            <div class="form-group">
                                <input type="submit" value="התחבר" class=" btn float-right login_btn">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>


{% endblock %}

