{% extends 'base.html' %}
{% block body_block %}
       <section class="peopledetail">
        <section class="people_list">
        ---------------------- {{ user.email }} --------------------------
            <h1>{{ lonely_person.name }}</h1>
            <ul>
                <li>
                    {{ lonely_person.age }}
                    :גיל
                </li>
                <li>      
                    {{ lonely_person.address }}
                    :כתובת
                </li>
                <li>
                    {{ lonely_person.phone }}
                    :טלפון
                </li>
                <li>
                    <ul>
                        <li>
                            {{ lonely_person.user.username }}
                            :איש קשר                        
                        </li>
                        <li>
                            {{ lonely_person.user.email }}     
                            :email

                        </li>
                    <ul>
                </li>
            </ul>
        </section>
        <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">יצירת ביקור</a>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">היסטוריית ביקורים</a>
        {% comment %} display button only if the user created the loenly person {% endcomment %}
        {% if user.email == lonely_person.user.email %}
            <a href="{%url 'delete_lonely' pk=lonely_person.pk %}">
                מחק
            </a>
        {% endif %}
    </section>
{% endblock %}